<!DOCTYPE html>
<html>

<head>
  <title>Your Page Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/style.css">
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>

<body>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>My TaskTrackr</u>
              </p>
              <form action="<% if (editing) { %>/edit-task<% } else{%>/<%} %>" method="POST">
                <div class="pb-2">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-row align-items-center">

                        <input type="text" class="form-control form-control-lg me-3" id="exampleFormControlInput1"
                          placeholder="Add new task..." name="title" value="<% if (editing) { %><%= tsk.title %><% } %>"
                          required />




                        </p>
                        <div class="card-body">
                          <div class="d-flex flex-row align-items-center">
                            <input type="date" name="date" class="form-control" id="dateInput" value="<% if (editing) { %><%=
                              new Date(tsk.date).toISOString().split('T')[0]  %><% } %>" required />
                          </div>
                        </div>


                        <% if (editing) { %>
                          <input type="hidden" value="<%= tsk.id %>" name="taskId">
                          <% } %>

                            <button type="submit" class="btn btn-primary" id="addButton">
                              <% if (editing) { %>Edit<% } else { %>Add<% } %>
                            </button>
                      </div>
                    </div>

                  </div>

                </div>
                <hr class="my-4" />
              </form>
              <% if (editing) { %><a href="/" class="btn btn-success">Home</a>
                <% }%>
           
                  <%- include('addedTasks.ejs', { tsk: tsk,editing: editing }) %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>